{% extends 'base/base-musiek.html' %}
{% block header %}
    {% include 'base/base-header.html' %}
{% endblock header %}
{% block footer %}
    {% include 'base/base-footer.html' %}
{% endblock footer %}
{% block left %}
    {% include 'base/base-left-content.html' %}
{% endblock left %}
{% block content %}
    {% load static %}
    <div class="mid-bar">
        <div class="title">
            Hear the latest post from your friends:
        </div>
        <div class="feed">
            <div class="top-feed">
                <img src="{% static 'img/user.jpg' %}" alt="user">
                <div class="user-status">KannaUwU posted a song 2 days ago</div>
            </div>
            <div class="mid-feed">
                <div class="user-comment">Nhạc chất lừ (nghe mãi không chán)</div>
            </div>
            <div class="bot-feed">
                <div class="bot-feed-left">
                    <img src="{% static 'img/user.jpg' %}" alt="song">
                </div>
                <div class="bot-feed-right">
                    <i class="fa-solid fa-circle-play"></i>
                    <div class="song-container">
                        <div class="author-name">Kenshi Yonezu</div>
                        <div class="song-name">KICK BACK</div>
                    </div>
                    <div class="icon-container">
                        <i class="fa-solid fa-comment"></i>
                        <i class="fa-solid fa-heart"></i>
                        <i class="fa-solid fa-share"></i>
                    </div>
                    <div class="comment-section">
                        <div class="comment-section-top">
                            <input type="text" id="comment-input" placeholder="Write your comment...">
                            <button type="button" name="comment-submit" id="comment-submit">Send</button>
                        </div>
                        <div class="comment-section-bot">
                            <img src="{% static 'img/user.jpg' %}" alt="song">
                            <div class="comment-container">
                                <div class="comment-username">KannaUwU</div>
                                <div class="comment-text">Nhac nhu dac cau that 🐧</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="song-container-mobile">
                    <i class="fa-solid fa-circle-play"></i>
                    <div class="author-name-mobile">Kenshi Yonezu</div>
                    <div class="song-name-mobile">KICK BACK</div>
                </div>
                <div class="icon-container-mobile">
                    <i class="fa-solid fa-comment"></i>
                    <i class="fa-solid fa-heart"></i>
                    <i class="fa-solid fa-share"></i>
                </div>
                <div class="comment-section-mobile">
                    <div class="comment-section-top-mobile">
                        <input type="text" id="comment-input-mobile" placeholder="Write your comment...">
                        <button type="button" name="comment-submit" id="comment-submit-mobile">Send</button>
                    </div>
                    <div class="comment-section-bot-mobile">
                        <img src="{% static 'img/user.jpg' %}" alt="song">
                        <div class="comment-container-mobile">
                            <div class="comment-username-mobile">KannaUwU</div>
                            <div class="comment-text-mobile">Nhac nhu dac cau that 🐧</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="feed">
            <div class="top-feed">
                <img src="{% static 'img/user.jpg' %}" alt="user">
                <div class="user-status">KannaUwU posted a song 2 days ago</div>
            </div>
            <div class="mid-feed">
                <div class="user-comment">Nhạc chất lừ (nghe mãi không chán)</div>
            </div>
            <div class="bot-feed">
                <div class="bot-feed-left">
                    <img src="{% static 'img/user.jpg' %}" alt="song">
                </div>
                <div class="bot-feed-right">
                    <i class="fa-solid fa-circle-play"></i>
                    <div class="song-container">
                        <div class="author-name">Kenshi Yonezu</div>
                        <div class="song-name">KICK BACK</div>
                    </div>
                    <div class="icon-container">
                        <i class="fa-solid fa-comment"></i>
                        <i class="fa-solid fa-heart"></i>
                        <i class="fa-solid fa-share"></i>
                    </div>
                    <div class="comment-section">
                        <div class="comment-section-top">
                            <input type="text" id="comment-input" placeholder="Write your comment...">
                            <button type="button" name="comment-submit" id="comment-submit">Send</button>
                        </div>
                        <div class="comment-section-bot">
                            <img src="{% static 'img/user.jpg' %}" alt="song">
                            <div class="comment-container">
                                <div class="comment-username">KannaUwU</div>
                                <div class="comment-text">Nhac nhu dac cau that 🐧</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="song-container-mobile">
                    <i class="fa-solid fa-circle-play"></i>
                    <div class="author-name-mobile">Kenshi Yonezu</div>
                    <div class="song-name-mobile">KICK BACK</div>
                </div>
                <div class="icon-container-mobile">
                    <i class="fa-solid fa-comment"></i>
                    <i class="fa-solid fa-heart"></i>
                    <i class="fa-solid fa-share"></i>
                </div>
                <div class="comment-section-mobile">
                    <div class="comment-section-top-mobile">
                        <input type="text" id="comment-input-mobile" placeholder="Write your comment...">
                        <button type="button" name="comment-submit" id="comment-submit-mobile">Send</button>
                    </div>
                    <div class="comment-section-bot-mobile">
                        <img src="{% static 'img/user.jpg' %}" alt="song">
                        <div class="comment-container-mobile">
                            <div class="comment-username-mobile">KannaUwU</div>
                            <div class="comment-text-mobile">Nhac nhu dac cau that 🐧</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block right %}
    {% include 'base/base-right-content.html' %}
{% endblock right %}