{% extends 'base/base-musiek.html' %}
{% block header %}
    {% include 'base/base-header.html' %}
{% endblock header %}
{% block footer %}
    {% include 'base/base-footer.html' %}
{% endblock footer %}
{% block left %}
    <div class="left-bar"></div>
{% endblock left %}
{% block content %}
    {% load static %}
            <div class="mid-bar">
                <div class="upload-content">
                    <div class="upload-left"></div>
                    <div class="upload-mid">
                        <h1>Basic Info</h1>
                        <div class="detail-content">
                            <div class="detail-content-top">
                                <div class="detail-content-top-left">
                                    <div class="image-setup">
                                        <div class="btn-container">
                                            <div class="button-wrap">
                                              <label class ="new-button" for="btn-upload"> Upload
                                              <input id="btn-upload" type="file" >
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="detail-content-top-right">
                                    <p>Title</p>
                                    <input type="text" >
                                    <p>Artist</p>
                                    <input type="text" >
                                    <p>Genre</p>
                                    <select name="None" id="cars">
                                        <option value="volvo">None</option>
                                        <option value="D">Dung</option>
                                        <option value="M">Mang</option>
                                        <option value="C">Com</option>
                                        <option value="S">Suon</option>
                                    </select>
                                    <p>Caption</p>
                                    <textarea name="" id="" cols="30" rows="10"></textarea>
                                    <div class="privacy">
                                        <p>Privacy:</p>
                                        <input type="radio" id="age1" name="age" value="60">
                                        <label for="privacy1">Public</label>
                                        <input type="radio" id="age2" name="age" value="60">
                                        <label for="privacy2">Private</label>
                                    </div>
                                </div>
                            </div>
                            <div class="detail-content-bottom">
                                <button class="btn-cancel">
                                    Cancel
                                </button>
                                <button class="btn-submit">
                                    Submit
                                </button>
                            </div>

                            
                        </div>
                        <div class="detail-content-mobile">
                            <div class="image-setup">
                                <div class="btn-container">
                                    <div class="button-wrap">
                                      <label class ="new-button" for="btn-upload">
                                        <p> Upload </p> 
                                      <input id="btn-upload" type="file" >
                                    </div>
                                </div>
                            </div>

                            <p>Title</p>
                            <input type="text" class="detail-input">
                            <p>Artist</p>
                            <input type="text" class="detail-input">
                            <p>Genre</p>
                            <select name="None" id="cars">
                                <option value="volvo">None</option>
                                <option value="D">Dung</option>
                                <option value="M">Mang</option>
                                <option value="C">Com</option>
                                <option value="S">Suon</option>
                            </select>
                            <p>Caption</p>
                            <textarea name="" id="" cols="30" rows="10"></textarea>
                            <div class="privacy">
                                <p>Privacy:</p>
                                <input type="radio" id="age1" name="age" value="60">
                                <label for="privacy1">Public</label>
                                <input type="radio" id="age2" name="age" value="60">
                                <label for="privacy2">Private</label>
                            </div>

                            <button class="btn-cancel">
                                Cancel
                            </button>
                            <button class="btn-submit">
                                Submit
                            </button>
                        </div>
                    </div>
                    <div class="upload-right"></div>
                </div>
            </div>
            <div class="right-bar"></div> 
        </section>
        <!--END CONTENT -->
{% endblock content %}
{% block right %}
    <div class="right-bar"></div> 
{% endblock right %}