{% load sass_tags %}
{% load static %}
<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Musiek</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% sass_src 'scss/style.scss' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'node_modules/bootstrap-icons/font/bootstrap-icons.css' %}">
        <script src="https://kit.fontawesome.com/2fb516ca73.js" crossorigin="anonymous"></script>
        <script src="{% static 'lib/node_modules/jquery/dist/jquery.js' %}"></script>
    </head>
<body>
  <div class="auth">
    <div class="left-auth"></div>
    <div class="mid-auth">
      <h1>verify your account</h1>
      <p>The verify code has been sent to your email</p>
      <form onsubmit="event.preventDefault()"></form>
      <div class="input-code">
          <input id="box1" type="text" maxlength="1">
          <input id="box2" type="text" maxlength="1">
          <input id="box3" type="text" maxlength="1">
          <input id="box4" type="text" maxlength="1">
      </div>
      <a onclick="resendCodeFunction()">Click here if the code isn't sending yet</a>
      <input id="btn" name="submit" type="submit">
    </div>
    <div class="right-auth"></div>
  </div>

  <script>
		var pressedButton = document.getElementsByName("submit")[0];
		pressedButton.addEventListener("click", function (event) {
			alert("You have pressed the button..........");
			window.location.href = "/signin/"; // redirect to signin.html
		})
	</script>

  <script>
  function moveFocus(event) {
  const arrowKeys = ['ArrowLeft', 'ArrowRight'];
  const inputs = document.querySelectorAll('.input-code input[type="text"]');
  const currentIndex = Array.from(inputs).findIndex(input => input === event.target);
  let nextIndex;
  if (arrowKeys.includes(event.key)) {
    switch (event.key) {
      case 'ArrowLeft':
        nextIndex = currentIndex - 1;
        break;
      case 'ArrowRight':
        nextIndex = currentIndex + 1;
        break;
    }
  } else {
    nextIndex = currentIndex;
  }
  const nextInput = inputs[nextIndex];
  if (nextInput) {
    nextInput.focus();
  }
  }
  
  document.querySelectorAll('.input-code input[type="text"]').forEach(input => {
  input.addEventListener('keydown', moveFocus);
  input.addEventListener('input', () => {
    const maxLength = input.getAttribute('maxlength');
    if (input.value.length >= maxLength) {
      const nextInput = input.nextElementSibling;
      if (nextInput) {
        nextInput.focus();
      }
    }
  });

  input.addEventListener('keydown', (event) => {
    if (event.key === 'Backspace' && input.value.length === 0) {
      const previousInput = input.previousElementSibling;
      if (previousInput) {
        previousInput.value = '';
        previousInput.focus();
      }
    }
  });
  
  input.addEventListener('keypress', (event) => {
    if (event.which < 48 || event.which > 57) {
      event.preventDefault();
    }
  });
  });
  </script> 
  <script src="{% static 'js/style.js' %}" defer></script>
  <script src="{% static 'js/bootstrap.min.js' %}" ></script>
    
</body>
</html>