{% extends 'base/base-musiek.html' %}
{% block auth %}
    {% load static %}
    <div class="wrapper">
        <div class="sign-up-container">
            <div class="title-box-sign-up">
                <h1>MUSIEK</h1>
            </div>
            
            <div class="sign-up">
                <h1> SIGN UP </h1>
                <form method="post" action="{% url 'signup' %}" class="sign-up-form">
                    {% csrf_token %}
                    <div class="name-sign-up">
                        <label for="fname">Name:</label>
                        <div class="name-input-sign-up">
                            <input type="text" name="name" required><br>
                        </div>
                    </div>
                    <div class="username-sign-up">
                        <label for="fname">Username:</label>
                        <div class="username-input-sign-up">
                            <input type="text" name="username" required><br>
                        </div>
                    </div>
                    <div class="email-sign-up">
                        <label for="fname">Email:</label>
                        <div class="email-input-sign-up">
                            <input type="text" name="email" required><br>
                        </div>
                    </div>
                    <div class="pass-sign-up">
                        <label for="lname">Password:</label>
                        <div class="pass-input-sign-up">
                            <input type="Password" id="lname" name="password" required><br>
                        </div>
                    </div>
                    <button class="button-sign-up" type="submit"> Enter </button>
                </form> 
                {% comment %} <form action="{% url 'signin' %}">
                    <button class="button-sign-up" type="submit"> Enter </button>
                </form> {% endcomment %}
            </div>
        </div>
    </div>
{% endblock auth %}