{% load sass_tags %}
{% load static %}
<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Musiek</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% sass_src 'scss/style.scss' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'node_modules/bootstrap-icons/font/bootstrap-icons.css' %}">
        <script src="https://kit.fontawesome.com/2fb516ca73.js" crossorigin="anonymous"></script>
        <script src="{% static 'lib/node_modules/jquery/dist/jquery.js' %}"></script>
    </head>
	<body>
		<div class="wrapper">
			<div class="sign-in-container">
				<div class="title-box">
					<h1>MUSIEK</h1>
				</div>
				<div class="sign-in">
					<h1> SIGN IN </h1>
					<form action="{% url 'signin' %}" class="sign-in-form" method="POST">
						{% csrf_token %}
						<div class="email">
							<label for="fname">Username:</label>
							<div class="email-input">
								<input name="username" id="id_email" required><br>
							</div>
						</div>
						<div class="pass">
							<label for="lname">Password:</label>
							<div class="pass-input">
								<input type="Password" name="password" id="id_password" required><br>
							</div>
						</div>
						<div class="link-sign-up">
							<a href="{% url 'signup' %}"> Don't have an account? Sign up</a>
						</div>
						<button class="button" type="submit"> Enter </button>
					</form> 
					{% comment %} <form action="{% url 'home' %}"> {% endcomment %}
					{% comment %} <button class="button" type="submit"> Enter </button> {% endcomment %}
					{% comment %} </form> {% endcomment %}
				</div>
			</div>
		</div>
    
        <script src="{% static 'js/style.js' %}" defer></script>
        <script src="{% static 'js/bootstrap.min.js' %}" ></script>
	</body>
</html>