{% load sass_tags %}
{% load static %}
<footer>
    <div class="footer-left">
        <ul>
            <li>
                <div class="btn-toggle-warp">
                    <button id="toggle-btn">
                        <i class="fa-solid fa-forward fa-rotate-180"></i>
                    </button>
                </div>
            </li>
            <li>
                <div class="btn-toggle-warp">
                    <button id="toggle-btn">
                        <i class="fa-solid fa-play" ></i>
                    </button>
                </div>
            </li>
            <li>
                <div class="btn-toggle-warp">
                    <button id="toggle-btn">
                        <i class="fa-solid fa-forward" ></i>
                    </button>
                </div>
            </li>
            <li>
                <div class="btn-toggle-warp">
                    <button id="toggle-btn">
                        <i class="fa-solid fa-shuffle"></i>
                    </button>
                </div>
            </li>
            <li>
                <div class="btn-toggle-warp">
                    <button id="toggle-btn">
                        <i class="fa-solid fa-rotate-left"></i>
                    </button>
                </div>
            </li>
            <li>
                <div class="slider_container">
                    <div class="current-time">00:00</div>
                    <input type="range" min="1" max="100"
                      value="0" class="seek_slider" onchange="seekTo()">
                    <div class="total-duration">03:00</div>
                </div>
            </li>

            <li>
                <div class="btn-toggle-warp">
                    <button id="toggle-btn">
                        <i class="fa-solid fa-headphones" ></i>
                    </button>
                </div>
            </li>
        </ul>
    </div>
    <div class="footer-mid">
        <div class="music-img">
            <!-- <img src="assets/img/Đề-1-cc_02.jpg" alt="" style="height: 10%;"> -->
        </div>
        <div class="music-content"></div>
    </div>
    <div class="footer-right">
        <ul>
            <li>
                <div class="btn-toggle-warp">
                    <button id="toggle-btn">
                        <i class="fa-solid fa-heart" ></i>
                    </button>
                </div>
            </li>
            <li>
                <div class="btn-toggle-warp">
                    <button id="toggle-btn">
                        <i class="fa-solid fa-user-plus" ></i>
                    </button>
                </div>
            </li>
            <li>
                <div class="btn-toggle-warp">
                    <button id="toggle-btn">
                        <i class="fa-solid fa-music" ></i>
                    </button>
                </div>
            </li>
        </ul>
    </div>
</footer>