.friend-slider {
  width: 100%;
  height: 30%;
  border-bottom: 1px solid rgb(209, 205, 205);
}

.friend-slider-word {
  position: relative;
  width: 100%;
  height: 15%;
}
.friend-slider-word h2 {
  text-align: left;
  margin: 10px 0 0 35px;
}

.friend-slider-info {
  width: 100%;
  height: 85%;
  margin: 40px 0 0 0;
}
.friend-slider-info .playlist-slider-bot {
  width: 100%;
  height: 80%;
  padding: 0 35px;
  max-width: 90%;
  position: relative;
}
.friend-slider-info .wrapper {
  height: 100%;
}
.friend-slider-info .wrapper i {
  top: 50%;
  background: #202A44;
  color: #fff;
  height: 46px;
  width: 46px;
  text-align: center;
  line-height: 46px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  font-size: 1.2rem;
  transform: translateY(-50%);
}
.friend-slider-info .wrapper i:first-child {
  left: -23px;
  display: none;
}
.friend-slider-info .wrapper i:last-child {
  right: -23px;
}
.friend-slider-info .wrapper .carousel {
  white-space: nowrap;
  font-size: 0px;
  overflow: hidden;
  cursor: pointer;
  scroll-behavior: smooth;
}
.friend-slider-info .carousel.dragging {
  cursor: grab;
  scroll-behavior: auto;
}
.friend-slider-info .carousel.dragging .image-and-detail {
  pointer-events: none;
}
.friend-slider-info .carousel .image-and-detail {
  margin-right: 10px;
}
.friend-slider-info .carousel .image-and-detail img {
  margin-left: 0px;
  height: 80%;
  width: 150px;
  border-radius: 50%;
}
.friend-slider-info .image-and-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: inline-block;
  background-color: #fff;
  width: 150px; /* adjust the width as needed */
  height: 250px; /* adjust the height as needed */
}
.friend-slider-info .image-with-bg {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.friend-slider-info .image-with-bg img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.friend-slider-info .image-and-detail .detail {
  font-size: 18px; /* adjust the font size as needed */
  line-height: 1; /* adjust the line height as needed */
  color: black;
  height: 20%;
  box-sizing: border-box;
  text-align: center;
  margin-top: 10px;
}

.history-content-top {
  position: relative;
  display: flex;
  float: left;
  border-bottom: 1px solid #828282;
  width: 100%;
}

.history-content-top-left {
  font-size: 30px;
  padding: 20px;
}

.history-content-top-mid p {
  font-size: 30px;
  padding: 20px 45px 20px 0px;
}

.history-content-top-right p {
  position: relative;
  font-size: 30px;
  padding: 20px 0px;
  left: 15px;
}

.song {
  width: 100%;
  position: relative;
  display: flex;
  float: left;
  border-bottom: 1px solid black;
}

.song-img {
  width: 20%;
}

.song-img img {
  width: 70px;
  padding: 10px;
}

.song-detail {
  position: relative;
  width: 80%;
  padding: 10px;
}

.song-detail .song-artist p {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 10px;
}

.song-detail .song-name p {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 10px;
}

.song-react i {
  display: flex;
  float: left;
  padding: 0px 10px;
  margin-bottom: 10px;
}

.friend-content-top {
  position: relative;
  display: flex;
  float: left;
  border-bottom: 1px solid #828282;
  width: 100%;
}

.friend-content-top-left {
  font-size: 30px;
  padding: 20px;
}

.friend-content-top-mid p {
  font-size: 30px;
  padding: 20px 45px 20px 0px;
}

.friend-content-top-right p {
  position: relative;
  font-size: 30px;
  padding: 20px 0px;
  left: 133px;
}