.auth {
  width: 100%;
  display: flex;
}
.auth .left-auth {
  width: 20%;
  height: 100%;
}
.auth .mid-auth {
  display: flex;
  flex-direction: column;
  background-color: white;
  text-align: center;
  width: 60%;
  height: 100%;
  border-left: 1px solid black;
  border-right: 1px solid black;
  justify-content: center;
  justify-items: center;
}
.auth .mid-auth h1 {
  text-transform: uppercase;
  color: navy;
}
.auth .mid-auth .input-code {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-between;
  margin: 0 0 0 10px;
}
.auth .mid-auth .input-code input {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.auth .mid-auth .input-code input[type=text] {
  text-align: center;
}
.auth .mid-auth #btn {
  text-align: center;
  background-color: navy;
  color: white;
  width: 70px;
  height: 30px;
  margin: 20px auto 0 auto;
  cursor: pointer;
}
.auth .mid-auth a {
  text-align: center;
}
.auth .right-auth {
  width: 20%;
  height: 100%;
}