.sign-up-container {
  background-color: white;
  display: flex;
  width: max-content;
}

.title-box-sign-up {
  padding: 0;
  display: flex;
  align-items: center;
}

.title-box-sign-up h1 {
  color: navy;
}

.sign-up {
  padding: 0px 100px 0px 100px;
  border-left: 2px solid navy;
  display: flex;
  flex-direction: column;
}

.sign-up h1 {
  color: navy;
  margin: 0;
}

.sign-in input {
  text-align: left;
}

.button-sign-up {
  background-color: navy;
  border: none;
  color: white;
  padding: 7px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}