.upload-mid {
  position: relative;
  top: 100px;
}

.upload-detail-content {
  position: relative;
  display: flex;
  height: 100%; /* set the height of the parent div */
  border: 1px solid black;
}

.upload-detail-left {
  width: 20%;
}

.upload-detail-mid {
  width: 60%;
  text-align: center;
  border: 1px solid black;
}

.detail-content {
  position: relative;
  width: 100%;
  height: 70%;
  border: 1px solid black;
  top: 50px;
}

.detail-content-top {
  position: relative;
  display: flex;
  width: 100%;
  height: 90%;
  border-bottom: 1px solid black;
  float: left;
}

.detail-content-top-left {
  height: 100%;
  width: 30%;
  position: relative;
}

.detail-content-top-right {
  height: 100%;
  width: 70%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.detail-content-top-right p {
  position: relative;
  text-align: left;
  right: -20px;
  margin-bottom: 10px;
}

.detail-content-top-right input {
  position: relative;
  width: 80%;
  right: -20px;
  margin-bottom: 10px;
}

.detail-content-top-right select {
  position: relative;
  width: 40%;
  right: -20px;
  margin-bottom: 10px;
}

.detail-content-top-right textarea {
  position: relative;
  width: 80%;
  right: -20px;
  margin-bottom: 10px;
  height: 100px;
}

.image-setup {
  position: relative;
  display: flex;
  width: 100%;
  height: 200px;
  border: 1px solid black;
}

.image-setup .btn-container {
  position: relative;
  top: 70px;
}

.privacy {
  position: relative;
  top: 10px;
}

.privacy input {
  position: relative;
  left: -190px;
}

.privacy label {
  position: relative;
  left: -365px;
}

#age2 {
  position: relative;
  left: -187px;
}

.detail-content-bottom {
  position: relative;
  width: 100%;
  height: 10%;
}

.detail-content-bottom .button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.btn-cancel {
  position: relative;
  top: 25px;
  left: 220px;
  background-color: white;
  color: black;
  border: 2px solid black;
}

.btn-submit {
  position: relative;
  top: 25px;
  left: 220px;
  background-color: #202A44;
  color: white;
}