.upload-content {
  position: relative;
  display: flex;
  height: 100%; /* set the height of the parent div */
}
.upload-content .upload-left {
  width: 20%;
}
.upload-content .upload-mid {
  width: 60%;
  text-align: center;
}
.upload-content .upload-mid .upload {
  position: relative;
  width: 100%;
  height: 30%;
  border: 1px outset black;
  top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.upload-content .upload-mid .upload h2 {
  margin: 0;
}
.upload-content .upload-mid .btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.upload-content .upload-mid input[type=file] {
  position: absolute;
  z-index: -1;
  top: 6px;
  left: 0px;
  font-size: 15px;
  color: rgb(153, 153, 153);
}
.upload-content .upload-mid .button-wrap {
  position: relative;
}
.upload-content .upload-mid .new-button {
  display: inline-block;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  background-color: #202A44;
  font-size: 16px;
  color: #fff;
}
.upload-content .upload-right {
  width: 20%;
}

@media screen and (max-width: 525px) {
  .right-bar {
    display: none;
  }
  .upload-left {
    display: none;
  }
  .upload-right {
    display: none;
  }
  .upload-mid {
    width: 100% !important;
  }
  .upload-content .upload-mid input[type=file] {
    position: relative;
    font-size: 0px;
  }
  .new-button {
    display: flex !important;
  }
  .new-button p {
    display: flex;
    padding-left: 17px;
  }
  .upload-content .upload-mid .upload {
    border: 0;
  }
  .upload-content .upload-mid .new-button {
    padding: 0px 12px;
  }
  .upload-mid {
    position: relative;
    top: 0 !important;
  }
  .upload-content .upload-mid {
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .upload h1 {
    padding-bottom: 10px;
  }
}