.upload-detail-upload-content {
  position: relative;
  display: flex;
  height: 100%; /* set the height of the parent div */
}

.upload-detail-upload-left {
  width: 20%;
}

.upload-detail-upload-mid {
  width: 60%;
  text-align: center;
}