footer {
    width: 100%;
    height: 95px;
    background-color: #202A44;
    position: fixed;
    left: 0;
    bottom: 0;
    // position: relative;
    display: flex;
    text-align: center;
    z-index: 98;
    .footer-left{
        position: relative;
        width: 70%;
        height: 60%;
        top: 30px;
        right: -40px;
        text-align: center;
        .footer-left ul li{
            display:inline-block; 
            
        }
        .footer-left li p{
            padding: 10px 20px;
            
        }
    }

    .footer-mid{
        float: left;
        position: relative;
        display: flex;
        width: 15%;
        height: 100%;
        
    }

    .footer-right{
        position: relative;
        width: 15%;
        height: 15%;
        position: relative;
        top: 30px;
        right: 40px;
        text-align: center;
    }
}

.footer-left ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-left i{
    padding: 10px 20px;
}

/* Define the slider width so that it scales properly */
.slider_container {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
   
  /* Modify the appearance of the slider */
.seek_slider {
    width: 700px;
}

/* Modify the appearance of the slider */
.seek_slider, .volume_slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: black;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
   
/* Modify the appearance of the slider thumb */
.seek_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
  }
   
/* Change the opacity when mouse is hovered */
.seek_slider:hover{
    opacity: 1.0;
  }

.current-time,.total-duration {
  padding: 10px;
  color: #FFFFFF;
}

.music-img{
    border: 1px solid white;
    height: 100%;
    width: 40%;
}

.music-content{
    height: 100%;
    width: 60%;
    border: 1px solid white;
}

.footer-right ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-right ul li{
    display:inline-block; 
    
}
.footer-right li p{
    padding: 10px 20px;
    
}

footer i{
    padding: 10px 20px;
    color: #FFFFFF;
}