section {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    min-height: 60%;
    flex-grow: 1;
}

.left-bar {
    width: 17%;
    min-height: 100%;
    // left: 0px;
    // top: 95px;
    background: #D9D9D9;
    position: relative;
    overflow: hidden;
    transform-origin: top left;

    a {
        font-size: 30px;
        color: #202A44;
        text-decoration: none;
        padding: 20px 20px 20px 0;
        flex-grow: 1;
        width: 50%;
    }
    
    ul{
        padding: 0px;

        li:hover ,a:hover {
            background-color: #202A44;
            color: white;
        }
        
        li.active,a.active {
            background-color: #202A44;
            color: white;
        }

        li{
            display: flex;
            width: 100%;
            padding: 0px;
            align-items: center;
            justify-content: center;
        }
        
    }
    
    i{
        font-size: 30px;
        position: relative;
        color: #1e1e1e;
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
    }
}

.mid-bar{
    width: 60%;  
    background-color: white;
    min-height: 100%;
}
.right-bar{
    width: 23%;
    background: #D9D9D9;
    min-height: 100%;
    position: relative;
}

/*TABLET RESPONSIVE*/
@media screen and (max-width: 768px) {
    section {
        top: 140px;
    }

    .left-bar {
        flex: 1 0 100%;
        display: flex;
        justify-content: center;
        height: fit-content;
    }

    .left-bar ul li {
        width: 20%;
    }

    .right-bar {
        width: 40%;
    }
}