section {
    display: -webkit-flex;
    display: flex;
    height: 1000px;
    width: 100%;
}

.left-bar {
    width: 17%;
    height: 100%;
    // left: 0px;
    // top: 95px;
    background: #D9D9D9;
    position: relative;
    overflow: hidden;
    transform-origin: top left;
}

.left-bar li{
    display: inline-block;
    width: 100%;
    padding: 0px;
    float: left;
    
}

.left-bar a {
    position: relative;
    font-size: 25px;
    padding:  20px 0px;
    color: #202A44;
    float: left;
    width: 100%;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    
}

.left-bar ul{
    padding: 0px;
    
}

.left-bar li a:hover {
    background-color: #202A44;
    color: white;
}

.left-bar li a.active {
    background-color: #202A44;
    color: white;
}

.left-bar i{
    padding: 0px 10px 0px 0px;
    position: relative;
    color: #1e1e1e;
}
.mid-bar{
    width: 60%;  
    background-color: white;
    height: 100%;
}
.right-bar{
    width: 23%;
    background: #D9D9D9;
    height: 100%;
    position: relative;
}