.library-top {
    width: 100%;
    height: 22%;
}

.recent-play-word {
    position: relative;
    width: 100%;
    height: 5%;

    h2 {
        text-align: left;
        margin: 10px 0 0 35px;
    }
}

.recent-play{
    width: 100%;
    height: 85%;
    margin: 40px 0 0 0;

    .playlist-slider-bot {
        width: 100%;
        height: 80%;
        padding: 0 35px;
        // display: flex;
        // align-items: center;
        max-width: 90%;
        position: relative;
    }

    .wrapper {
        height: 100%;

        i {
            top: 50%;
            background: #202A44;
            color: #fff;
            height: 46px;
            width: 46px;
            text-align: center;
            line-height: 46px;
            border-radius: 50%;
            cursor: pointer;
            position: absolute;
            font-size: 1.2rem;
            transform: translateY(-50%);
        }
    
        i:first-child {
            left: -23px;
            display: none;
        }
    
        i:last-child {
            right: -23px;
            z-index: 1;
        }
    
        .carousel {
            white-space: nowrap;
            font-size: 0px;
            overflow: hidden;
            cursor: pointer;
            scroll-behavior: smooth;

            .carousel.dragging {
                cursor: grab;
                scroll-behavior: auto;

                .carousel.dragging .image-and-detail {
                    pointer-events: none;
                }
            }

            .image-and-detail{
                margin-right: 10px;
                display: inline-block;
                height: 250px; /* adjust the height as needed */
                .detail {
                    // margin-top: 10px; /* adjust the margin as needed */
                    font-size: 18px; /* adjust the font size as needed */
                    line-height: 1; /* adjust the line height as needed */
                    color: black;
                    height: 20%;
                    border: 1px solid black;
                    box-sizing: border-box;
                    text-align: center;
                }

                .image-with-bg{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        margin-left: 0px;
                        height: 80%;
                        border-bottom: 1px solid black;
                        width: 150px;
                        max-width: 100%;
                        max-height: 100%;
                        object-fit: contain;
                      }
                  }
            }
        }
    } 
}

.library-bottom {
    width: 100%;
    height: 1000px;
}

.your-playlist-word {
    position: relative;
    width: 100%;
    height: 5%;

    h2 {
        text-align: left;
        margin: 10px 0 0 35px;
    }
}

.your-playlist{
    width: 100%;
    
    ul {
        list-style: none;
        display: flex; /* make the ul a flex container */
        flex-wrap: nowrap; /* make sure the li's don't wrap to the next line */

        li {
            display: flex; /* make each li a flex container */
            flex-direction: column; /* stack the img and detail divs on top of each other */
            align-items: center; /* center the contents of each li */
            margin-right: 20px; /* add some spacing between the li's */
            padding: 20px 20px 20px 0px;
        }
    }

    img {
        width: 100%; /* make the image fill its parent div */
        height: 100%; /* set the height of the image div to 70% */
        object-fit: cover; /* scale the image to fill its parent div */
    }

    .playlist-detail {
        height: 30%; /* set the height of the detail div to 30% */
        background-color: #fff; /* add a white background to the detail div */
        padding: 10px; /* add some padding to the detail div */
        box-sizing: border-box; /* include padding and border in the element's total width and height */
        text-align: center; /* center the contents of the detail div */
    }
}

.btn-toggle-warp{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#toggle-btn {
    background-color: #202A44;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;

    i {
        margin-left: 0px;
    }
}
  
/*TABLET RESPONSIVE*/
@media screen and (max-width: 768px) {
    .recent-play .wrapper i:first-child {
        left: 0;
    }

    .recent-play .wrapper i:last-child {
        right: 0;
        z-index: 1;
    }
}
  