$input_size: 20px;
$color1: navy;

* {
    text-align: center;
}

h1 {
    color: $color1;
    margin-left: $input_size;
}

.sign_in_container {
    margin: 150px 50px 0px 50px;
}
  
.sign_in_box {
    display: inline-block;
    vertical-align: middle;
}
  
#title_box {
    padding: 0px 250px 0px 0px;    
}
  
#sign_in {
    padding: 0px 0px 0px 250px;
    border-left: 2px solid $color1;
}

#email #email_input, #pass #pass_input {
    display: inline;
}

#email, #pass {
    color: $color1;
}

#email_input {
    padding-left: 25px;
}

.sign_in div{
    padding-top: $input_size;
}

#link_sign_up {
    padding-left: 40px;
}

input {
    text-align: left;
}

#button{
    background-color: $color1;
    border: none;
    color: white;
    padding: 7px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 2px 0px 150px;
    cursor: pointer;
}
