.auth {
    display: flex;
    margin: auto 0 auto 0;
    justify-content: center;
    align-items: center;
    width: 100%;

    .left-auth {
        width: 20%;
        height: 100%;
    }

    .mid-auth {
        display: flex;
        flex-direction: column;
        background-color: white;
        text-align: center;
        width: 60%;
        height: 100%;
        border-left: 1px solid black;
        border-right: 1px solid black;
        justify-content: center;
        justify-items: center;

        h1 {
            text-transform: uppercase;
            color: navy;
            margin: 10px 0 10px 0;
        }
        
        .input-code {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            align-content: space-between;
            margin: 0 0 0 10px;

            input {
                width: 50px;
                height: 50px;
                margin-right: 10px; 
            }

            input[type="text"] {
                text-align: center;
            }
        }
        
        #btn {
            text-align: center;
            background-color: navy;
            color: white;
            width: 70px;
            height: 30px;
            margin: 20px auto 10px auto;
            cursor: pointer;
        }
        
        a {
            text-align: center;        
        }
    }

    .right-auth {
        width: 20%;
        height: 100%;
    }
}









