{% load sass_tags %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Musiek</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block css %}{% endblock %}
        <link rel="stylesheet" href="{% sass_src 'scss/style.scss' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'node_modules/bootstrap-icons/font/bootstrap-icons.css' %}">
        <script src="https://kit.fontawesome.com/2fb516ca73.js" crossorigin="anonymous"></script>
        <script src="{% static 'lib/node_modules/jquery/dist/jquery.js' %}"></script>
        <script src="{% static 'js/style.js' %}" defer></script>
        <script src="{% static 'js/bootstrap.min.js' %}" ></script>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.js"></script>
    </head>
    <body>
        <!--START HEADER -->
        {% block header %}{% endblock %}
        <!--END HEADER -->
        <!-- START CONTENT -->
        
        <section>
            {% block auth %}{% endblock %}

            {% block left %}{% endblock %}

            {% block content %}{% endblock %}
            
            {% block right %}{% endblock %}
        </section>
        <!--END CONTENT -->
        <!--START FOOTER -->
        {% block footer %}{% endblock %}
        <!--END FOOTER -->
    </body>
</html>
        
